.category-block{
	&.subcategory{
		margin-bottom: 48px;
		padding: 28px 0 0;
		background: #ebebeb;
		@include media('<tablet') {
			margin-bottom: 30px;
		}
		.item{
			margin-bottom: 35px;
			@include media('<tablet') {
				margin-bottom: 20px;
			}
			.title{
				font-weight: 500;
				&:after{
					display: none;
				}
			}
		}
	}
	.container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&:after{
			content: '';
			width: 32%;
			height: 0;
			display: block;
			@include media('<phone') {
				display: none;
			}
		}
	}
	.item{
		width: 32%;
		margin: 0 0 40px;
		@include media('<desktop') {
			margin-bottom: 30px;
		}
		@include media('<phone') {
			width: 100%;
			margin-bottom: 20px;
		}
		a{
			@include animate(opacity);
			text-decoration: none;
			display: block;
			&:hover{
				opacity: .7;
			}
		}
		.img-holder{
			margin: 0 0 35px;
			@include media('<desktop') {
				margin-bottom: 15px;
			}
			@include media('<phone') {
				margin-bottom: 10px;
			}
		}
		img{
			width: 100%;
			vertical-align: top;
		}
		.title{
			font-size: 21px;
			font-weight: 400;
			color: map-get($colors, 'brand-color');
			display: block;
			text-transform: uppercase;
			word-break: break-all;
			@include media('<desktop') {
				font-size: 18px;
			}
			@include media('<tablet') {
				font-size: 16px;
			}
		}
	}
}