body{
	display: flex;
	flex-direction: column;
}
#wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 118px;
	overflow-x: hidden;
	@include media('<tablet') {
		padding-top: 50px;
	}
}
.main{
	flex: 1 0 auto;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}
/* fixed top on scroll START */
.fixed-top{
	position: fixed;
	top: 118px;
	left: 0;
	right: 0;
	/*for demo (after demo uncomment it)*/
	// max-height: calc(100vh - 118px);
	// overflow: auto;
	@include media('<tablet') {
		top: 50px;
		/*for demo (after demo uncomment it)*/
		// max-height: calc(100vh - 50px);
	}
	.about-us-page &{
		/*for demo (after demo remove it)*/
		position: static;
	}
}
.content-wrap{
	padding: 30px 0 60px;
	margin-top: calc(50% - 118px);
	position: relative;
	z-index: 2;
	background: map-get($colors, 'white');
	@include media('<widescreen') {
		margin-top: calc(55% - 118px);
	}
	@include media('<tablet') {
		margin-top: calc(50% - 50px);
		padding-bottom: 30px;
	}
	@include media('<phone') {
		margin-top: calc(57% - 50px);
	}
	.about-us-page &{
		padding: 0;
		/*for demo (after demo remove it)*/
		margin-top: 0 !important;
	}
}
/* fixed top on scroll END */