.files{
	@extend %listreset;
	font-size: 13px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	li{
		margin: 0 0 0 25px;
	}
	a{
		@include animate(opacity);
		color: map-get($colors, 'grey');
		display: flex;
		align-items: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			opacity: .7;
		}
	}
	img{
		vertical-align: top;
		display: inline-block;
		margin: 0 10px 0 0;
	}
}