.product-content{
	display: flex;
	.product-images{
		width: 445px;
	}
	.product-info{
		padding: 0 0 0 70px;
		flex-grow: 1;
	}
	.features-part{
		display: flex !important;
		justify-content: space-between;
		margin: 0 0 30px;
	}
	.tabs-head-holder{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.product-info-container{
		display: none;
		font-weight: 100;
		margin: 0 0 100px;
		&.active{
			display: block;
		}
		ul{
			@extend %listreset;
			margin: 0 0 24px;
			li{
				&:before{
					content: '-';
					margin: 0 10px 0 0;
				}
			}
		}
		table{
			border-collapse: collapse;
			width: 100%;
			td{
				width: 50%;
				padding: 1px 10px;
				border-bottom: 1px solid #c4c4ce;
			}
		}
		h2{
			font-size: 21px;
			font-weight: 400;
			margin: 0 0 24px;
		}
		p{
			margin: 0 0 24px;
		}
	}
	.product-name{
		font-size: 21px;
		font-weight: 400;
		color: map-get($colors, 'grey');
		text-transform: uppercase;
		margin: 0 0 15px;
	}
	.big-image-holder{
		position: relative;
		.show-popup{
			@include animate(opacity);
			font-size: 30px;
			color: #c4c4ce;
			cursor: pointer;
			position: absolute;
			top: 80px;
			right: 30px;
			&:hover{
				opacity: .7;
			}
		}
	}
	.product-slider{
		&.slider-for{
			border: 2px solid #c4c4ce;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 32px;
			.slick-slide{
				max-width: 441px;
				outline: none;
				img{
					max-width: 332px;
					margin: 0 auto;
				}
			}
		}
		&.slider-nav{
			margin: 0 -25px;
			.slick-slide{
				width: 116px;
				border: 2px solid #c4c4ce;
				border-radius: 10px;
				overflow: hidden;
				margin: 0 24px;
				outline: none;
				img{
					width: 72px;
					margin: 0 auto;
				}
			}
		}
	}
}